{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

     we have variety of products.
{% endblock %}
{% block title %}
  search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text" style="color:#DE3163">You have searched for:<b>"{{query}}"</b></p>
</div>
<div class="row mx_auto">
        {% for products in product %}
           <div class="my_bottom_margin col-9 col-sm-4 col-md-4 xol-lg-4">
           <div class="card text-center"  style="width:300px;height:350px; box-shadow: 0 0 10px rgba(222, 49, 99, 0.5);">
             <a href="{{products.get_url}}"><img class="card-img-top my_image" src="{{products.poster.url}}" style="width:300px;height:350px;filter: brightness(70%);" alt="{{products.name}}"></a>
           <div class="card-body">

           </div>
           </div>
           </div>

{% empty %}
<div class="row mx-auto">
    <p class="text-center my_search_text"> 0 results found</p>
</div>
{% endfor %}
</div>
{% endblock %}
